*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.koulen-regular {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

a{
    color: currentColor;
    text-decoration: none;
}
.main_background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    padding: 0 54px;
    align-items: center;
    background-image: url("./sources/Fondo.JPG");
    position: relative;
}

.main_background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    opacity: 0.65;
    z-index: 0;
}

.index_nav{
    position: relative;
    z-index: 1;
    font-size: 48px;
    line-height: 1.2;
    padding: 0 50px;
}

.index_nav ul li + li{
    margin-top: 25px;
}

.current{
    color: orange;
}

.index_nav ul li:hover{
    color: orange;
}

.inline_nav ul{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 65px;
    font-size: 48px;
    line-height: 1.2;
}
.inline_nav{
position: relative;
z-index: 1;
}

.main_background.no_center{
    display: block;

}

.perfil-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px 60px;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
  }
  
  .perfil-imagen img {
    width: 250px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }
  
  .perfil-texto {
    max-width: 500px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 1.5;
  }
  

.grid-musica {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    z-index: 1;
    padding: 40px;
    text-align: center;
    height: 100%;
    align-items: center;
  }
  
  .item img {
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    border: 4px solid white;
  }
  
  .item p {
    margin-top: 10px;
    font-weight: bold;
  }
  
.item {
    width: 31%;

}

.main_background.no_center.music{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;

}

.todo-deporte{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    z-index: 1;
    padding: 40px;
    text-align: center;
    height: 100%;
    align-items: center;
}
    .item img {
        width: 100%;
        max-width: 150px;
        border-radius: 10px;
        border: 4px solid white;
    }
      
      .item p {
        margin-top: 10px;
        font-weight: bold;
    }
      
.item {
        width: 31%;
}

.los-hobbies {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    z-index: 1;
    padding: 40px;
    text-align: center;
    height: 100%;
    align-items: center;
  }
  
  .item img {
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    border: 4px solid white;
  }
  
  .item p {
    margin-top: 10px;
    font-weight: bold;
  }
  
.item {
    width: 31%;

}